h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-color:rgb(8, 62, 77);
    -webkit-text-fill-color: rgb(0, 0, 0);
    position: relative;
    
}

p {
    text-justify: inter-word;
    padding-bottom: 2%;
    -webkit-text-fill-color: black;
    text-align: justify;
    text-indent:4%;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
}
.h4{
  background-color: white;
  float:left;
  align-items: center;
  border: 2px solid black;
  position:relative;
  left: 19em;
  padding: 60px;
}
.povdef {
    text-justify: inter-word;
    background: none;
    -webkit-text-fill-color: black;
    text-align: justify;
    text-indent:4%;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    margin-right: 30em;
    border-style: dashed;
    border-color:rgb(8, 62, 77);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5% ;
    
   
}

.pvrtfx {
   text-align: justify;
   text-indent: 4%;
   margin-right: 30em;
   background: none;
   padding: 1em 0.5em 1em 0.5em;
   border-style: dashed;
   border-color:#000;
   background-color: rgba(255, 255, 255, 1);
    border-radius: 5% ;
}
.prvntpvrty {
    text-align: center;
    text-indent: 4%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5% ;
}
li::marker{
    color: white;
}
.prvntlst{
    text-align: center;
    text-indent: 4%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5% ;
    -webkit-text-fill-color: black;
    margin-right: 40em;

}
.cntrs{
    text-align: justify;
    text-indent: 4%;
    background: none;
    padding: 1em 0.5em 1em 0.5em;
    border-style: dashed;
    border-color:#000;
    margin-right: 34em;
    text-align: center;
    text-indent: 4%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5% ;
    -webkit-text-fill-color: black;
    margin-right: 40em;
    
}
.ee {
    text-align: justify;
    text-indent: 4%;
    font-size: 18px;
    background:none;
    -webkit-text-fill-color: black;
    padding: 1em 2em 1em 0.5em;
    border-style: dashed;
    border-color:#000;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5% ;
    margin-left: 40em;
    position: relative;
    top: -15em;
}
.sprite{
  background: url(icon.png) no-repeat -182px -91px;
  width: 33px;
  height: 33px;
}
.semantics{
  position: relative;
  top: 10em;
  left: 10px;
}

body {
    /*applies to all pages*/
    background-image: url(poorboy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    
    

    
}
.derek{
    
    height: 4em;

}

.pvrty2{
  height: 278px;
  position: relative;
  left: 53em;
  bottom: 28em;
  border: 2px solid black;
  transition-duration: 30ms;
}

.pvrty3{
  height: 278px;
  position: relative;
  left: 57em;
  bottom: 7em;
  border: 2px solid black;
}
.videooo1{
  position:relative;
  left: 50em;
  bottom: 29em;
  border: 2px solid black;
}
.mice{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 50%;
    margin-bottom: 2%;
    
}

a {
    position: relative;
    top: 1.5em;
    left: 6em;
    background: rgb(0, 28, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 5px 15px;
    transition: 0.5s;
    margin-left: 2px;
    
    
}
a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
a span{
    position: relative;
    z-index: 1
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}   
a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a:hover i::before{
    width: 20px;
    left: 20%;

}
a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a:hover i::after{
    width: 20px;
    left: 80%;
}








a .btnpoverty {
    position: relative;
    top: 0.3em;
    background: rgb(0, 28, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 5px 15px;
    transition: 0.5s;
}
a .btnpoverty :hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
a .btnpoverty :before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
a .btnpoverty span{
    position: relative;
    z-index: 1
}
a .btnpoverty i{
    position: absolute;
    inset: 0;
    display: block;
}   
a .btnpoverty i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a .btnpoverty:hover i::before{
    width: 20px;
    left: 20%;

}
a .btnpoverty i::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a .btnpoverty :hover i::after{
    width: 20px;
    left: 80%;
}

.boteon {

    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    top: 42em;
    right: -12px;
    
    
    z-index: 0;
    border-radius: 12px;
  }
  .boteon::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .boteon::before {
    content: "";
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .boteon:hover::before {
    opacity: 1;
  }
  
  .boteon:active:after {
    background: transparent;
  }
  
  .boteon:active {
    color: #000;
    font-weight: bold;
  }


 












.skibidi {
    width: 35em;
    height: 16em;
    position:relative;
    left: 48em;
    bottom: 24.8em;
    border-style: solid;
    border-color: rgb(0,212,255,1);
    box-shadow: 0 0 35px var(--clr);
}






